*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    margin: auto;
    max-width: 1600px; 
    /*border:  1px solid black; */
    background-color: rgb(202, 220, 247); 
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.8);
    color: #ccc;
    padding:  10px;
}

.logo_img{
    display: block;
    width: 100px;
}

.menu{
    display: flex;
    justify-content: space-around;
}
.menu_links{
    padding: 1em;
    border-radius: .2em;
    text-decoration: none;
    font-size: 1em;
    color: #ccc;
    border: 1px solid;
    margin-left: 20px;
}

.menu_links:hover{
    background-color: rgba(0,0,0,.5);
}
.banner{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.banner_caja{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.subTitle{
    font-size: 2em;
}

.title{
    font-size: 6em;
}

.info{
    font-size: 1.3em;
    text-align: justify;
    font-style: italic;
}
.banner_img{
    width: 50%;
    border-radius: 2em;
}

.galery{ 
    padding: 0 10px;
}

.galery_title{
    font-size: 3em;
    padding-bottom: 30px;
    position: relative;
}

.galery_title::after{
    position: absolute;
    content: '';
    left: 0;
    top: 70%;
    width: 100%;
    height: 5px;
    background-color: lightskyblue;
}

.galery_items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; 
}

.galery_img{
    display: flex;
    margin: 0;
    position: relative;
    overflow: hidden;

}
.galery_img_title{
    color: #fff;
    position: absolute;
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s ease;
    transform: translate(-100%);
}

.galery_img:hover .galery_img_title{
    transform: translate(0);
}



.galery_img:nth-child(3){
    grid-column: span 2 ;
    grid-row: span 2;
}

.galery_img:nth-child(8){
    grid-column: span 2;
    grid-row: span 2;
}


img{
    width: 100%;
}

.contact{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.caja_contact{
    position: relative;
    width: 800px;
    height: 400px;
}

.info_contact{
    
    z-index: 9;
    padding: 30px; 
    background-color: rgba(112, 110, 110,1);
    box-shadow: 1px 1px 20px rgba(0,0,0,.5);
    color: #fff;
    font-size: 1.2em;
}

.contact_title, .contact_info{
    margin-bottom: 20px;
}

.contact_form{
    
    background-color: rgb(255, 255, 255);
    padding: 40px 30px 30px 120px;
}

.contact_form input, textarea, button{
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.2);
}

.contact_form button{
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {


    .banner{
        flex-direction: column;
    }
    .banner_caja{
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .info{ 
        text-align: center;
    }

    .banner_img{  
        width: 100%;
        margin: 40px 0 ;
    }

    .caja_contact{
        height: auto;
    }

    .info_contact{
        text-align: center;
    }

    .contact_form{
        padding: 40px;
    }

}

@media only screen and (min-width: 800px) {
    .info_contact{
        position: absolute;
        left: 0px;
        top: 35px;
        width: 350px;
    }
    .contact_form{
        position: absolute;
        right: 10px;
        z-index: 1; 
        width: 500px;
    } 
    
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
